html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS below */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

#bannerSection {
    background-image: url(images/man-standing-under-the-stars.jpg);
    background-position: center;
    background-size: cover;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}

#backgroundLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-family: 'Alegreya Sans', sans-serif;
/*     font-family: 'Eczar', serif;
 */    margin-top: 20vh;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.1);
}

#backgroundLogo img {
    height: 125px;
    background-color: transparent;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#formSection {
    background-color: #f9fcfc;
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}

.message, .credo {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 70%;
}

.message {
    padding: 2rem;
}

.credo {
    padding-bottom: 2rem;
    padding-left: 2rem;
}

form h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.formDiv {
    font-size: 1rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
    flex-direction: row;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    gap: 80px;
    margin-bottom: 1rem;
}
/* .submitButton:hover {
    color: #f86829;
} */

.question {
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.question a {
    color: #27527c;
    text-decoration: none;
}

.question a:hover {
    color: #f86829;
}

.formInputs input {
    border-radius: 6px;
    padding-top: 0.5rem;
    padding-right: 4rem;
    padding-bottom: 0.5rem;
    border: 1px solid #cac1b2;
}

.submitButton {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 5px 5px 4px rgba(0, 0, 0, 0.1);
    color: white;
    background-color: #27527c;
}

.submitButton:hover {
    background-color: #153b66;
}

.submitButton:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* #form input:valid {
    border: 2px solid green;
} */

/* #form input:invalid {
    border: 2px solid red;
} */

#form label {
    color: black;
    letter-spacing: 0.1rem;
}

.footer {
    font-family: 'Eczar', serif;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3px;
    width: 16rem;
    height: 4rem;
    font-size: 0.9rem;
    margin-left: 0.8rem;
    color: lightgrey;
}

.footer a {
    margin-left: 2px;
    text-decoration: none;
    color: #cac1b2;
} 

.footer a:hover {
    color: #f86829;
} 